<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% assets "root_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" media="screen,projection"/>
    {% endassets %}

    {% assets "root_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    {% endblock %}
</head>
<body>
<div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>

{% block scripts %}
{% endblock %}

</body>
</html>
