<p>Dear {{ user.username }},</p>
<p><a href="{{ url_for('main.user', username=user.username, _external=True) }}">{{ user.username }}</a> is now a follower.</p>
<table>
    <tr valign="top">
        <td><img src="{{ user.gravatar(size=166) }}"></td>
        <td>
            <a href="{{ url_for('main.user', username=user.username, _external=True) }}">{{ user.username }}</a><br />
            {{ user.about_me }}
        </td>
    </tr>
</table>
<p>Regards,</p>
<p>The <code>Yootube</code> admin</p>