{% extends "base.html" %}
{% block title %}404{% endblock %}

{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block content %}

 <div class="center-align">
     <h2>404</h2>
     <h3>Page not found</h3>
 </div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}