{% extends "base.html" %}
{% block title %}500{% endblock %}

{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}


{% block content %}

 <div class="center-align">
     <h2>500</h2>
     <h3>Internal server error</h3>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}